<div id="container">

  <!-- Close-btn -->
  <button class="close sticky" type="button" matTooltip="Close" tabindex="-1" (mousedown)="prevent()"
    mat-dialog-close>&times;</button>


  <!-- Title -->
  <!-- [style.color]="isShownError ? ERROR_COLOR : ''" -->
  <h3 mat-dialog-title class="title" 
  >
    Create Account
  </h3>


  <!-- Registration Form -->
  <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="registerForm">

    <!-- First Name -->
    <div class="sign-up-form">
      <mat-form-field appearance="outline" >
        <mat-label>First Name</mat-label>
        <input formControlName="fullName" matInput maxlength="25"/>
        <mat-error *ngIf="fullName.errors">{{getErrorsFullName()}} <br> </mat-error>
      </mat-form-field>
    </div>


    <!-- Email -->
    <div class="sign-up-form">
      <mat-form-field appearance="outline" [class.indent]="emailError">
        <mat-label>E-mail</mat-label>
        <mat-spinner diameter="20" matSuffix *ngIf="email.pending"></mat-spinner>

        <img class="icon" src="assets/fa/marked.png" alt="OK" matSuffix *ngIf="email.valid">
        <img class="icon" src="assets/fa/denied.png" alt="ERROR" matSuffix *ngIf="emailAsyncError">

        <input _format="lowercase" formControlName="email" matInput>
        <mat-error *ngIf="email.errors">{{getErrorsEmail()}}</mat-error>
      </mat-form-field>
    </div>



    <!-- Password -->
    <div class="sign-up-form">
      <mat-form-field appearance="outline" class="indent">
        <mat-label>Password</mat-label>
        
        <mat-hint align="end">At least 8 characters</mat-hint>
        <input #inp formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput>
        

        <!-- Hid Password -->
        <mat-icon [class.invalid-icon]="passError" (click)="hidePassword = !hidePassword" (mousedown)="prevent()"
          *ngIf="hidePassword" matSuffix matTooltip="show password">{{'visibility_off'}}
        </mat-icon>
          
        <mat-icon [class.invalid-icon]="passError" (click)="hidePassword = !hidePassword" (mousedown)="prevent()"
          *ngIf="!hidePassword" matSuffix matTooltip="hide password">{{'visibility'}}</mat-icon>

        <!-- Errors -->
        <mat-error>{{getErrorsPass()}}</mat-error>
      </mat-form-field>
    </div>


    <!-- Password Confirm -->
    <div class="sign-up-form">
      <mat-form-field appearance="outline">
        <mat-label>Password Coonfirm</mat-label>
        <img matSuffix class="icon" src="assets/fa/marked.png" alt="OK" *ngIf="passConfirm.valid">
        <input formControlName="passwordConfirm" type="password" matInput>
        <mat-error>{{passConfirmError()}}</mat-error>
      </mat-form-field>
    </div>



    <!-- Submit -->
    <button mat-raised-button type="submit" class="submit-btn"
      [disabled]="registerForm.invalid"
      [matTooltip]="registerForm.invalid ? 'Form is not valid yet' : ''"
      [class.invalid-hover]="registerForm.invalid">Register</button>

  </form>


  <!-- To Sign-in -->
  <div class="to-sign-in">
    Already registered ? <span class="redirect" (mousedown)="prevent()" (click)="toSignIn()">Sign-in</span>
  </div>

  <!-- Load-bar -->
  <hr *ngIf="!submitted">
  <mat-progress-bar mode="indeterminate"  *ngIf="submitted"></mat-progress-bar>

  <!-- Privacy info -->
  <span class="privacy-info">
    By creating an account, you agree to <b>Tasks Menegment</b> conditions of use and privacy policy.
  </span>

</div>
